body {
    Box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;

}


header {
   margin: 0px;
   background-color: white;
}

h1  {
    display:inline-block;
}

.container {
    margin:auto;
    width: 1000px;
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
}

.menu {
    color: #444851;
    padding-bottom: 30px;
}

.nav-bar {
    border-bottom: 2px solid #f6f8f9;
    margin-top: 
}


#task {
    background-color: #47ADF1;
    color: white;
    border:2px solid #47ADF1;
    border-radius: 3px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 90px;
    height: 30px;
}

#section {
    background-color:white;
    color:#D5D9DD;
    border:2px solid #D5D9DD;
    border-radius: 3px;
    width: 90px;
    height: 30px;
}

.sottotitoli {
    display: inline-block;
    margin: 8px;
}

.spunta {
    height: 15px;
    width: 15px;
    margin-left: 50px;
}

.croce {
    height: 15px;
    width: 15px;
    margin-left: 50px;
}

h2 {
    line-height: 140%;
    margin: 20px 0px 0px 50px;
}

.editorial {
    border: 1px solid #45abea;
    background-color: #45abea;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}

#q1 {
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}

#recruiting {
    border: 1px solid #64c0a9;
    background-color: #64c0a9;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}

#mobile {
    border: 1px solid #f29e33;
    background-color: #f29e33;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}

#website {
    border: 1px solid #d863a1;
    background-color: #d863a1;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}

#sales {
    border: 1px solid #b0c926;
    background-color: #b0c926;
    border-radius: 15px;
    font-size: x-small;
    color: white;
    padding: 7px;
}
